.notf {
  width: 100%;
 padding: 10px 0px;
 box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.notf .swiper-slide {
  text-align: center;
  font-size: 18px;
  
  color: #000;
  padding: 10px;
  font-weight: 500;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.notf .swiper {
  width: 100%;
  height: 40px;
  margin: 10px auto;
}
.append-buttons {
  text-align: center;
  margin-top: 20px;
}
